body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

#playerCardsContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#savedPlayerCardsContainer {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.player-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.player-card img {
    width: 300px;
    height: 300px;
    display: block;
    border-bottom: 1px solid #ccc;
}

.player-card-content {
    padding: 10px;

}

.player-card-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
}

.player-card-info {
    font-size: 14px;
    margin: 10px auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}